<html>
<head>
	<title>Details for commit</title>
	<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="history.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="history.js" type="text/javascript" charset="utf-8"></script>
</head>

<body style="padding: 0px; border: 0px">
	<div id="rightcontent">
	</div>

	<div class="main-layout">
		<div class="left-column">
			<div class="gravatar-column">
				<div class="gravatar">
					<img id="author_gravatar" src=""></img>
				</div>
			</div>
			<div class="info-column">
				<div class="subject-row">
					<div class="property_name">Subject:</div>
					<div id="subjectID" class="subject-value"></div>
				</div>
				<div class="author-section">
					<div class="author-row">
						<div class="property_name">Author:</div>
						<div id="authorID"></div>
					</div>
					<div class="date-row">
						<div class="property_name">Date:</div>
						<div id="date"></div>
					</div>
					<div class="committer-row" style="display:none">
						<div class="property_name">Committer:</div>
						<div id="committerID"></div>
					</div>
					<div class="committer-date-row" style="display:none">
						<div class="property_name">Date:</div>
						<div id="committerDate"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-column">
			<div id="commit_header">
				<div class="sha-row">
					<div class="property_name">SHA:</div>
					<div><span id="commitID" class="SHA"></span></div>
				</div>
				<div class="copy-row">
					<div class="property_name">Copy:</div>
					<div class="copy-buttons">
						<button id="copyShaButton" class="copy-btn" onclick="copyShaToClipboard()">sha</button>
						<button id="copyShortShaButton" class="copy-btn" onclick="copyShortShaToClipboard()">short</button>
						<button id="copyGitHubUrlButton" class="copy-btn" onclick="copyGitHubUrlToClipboard()" style="display:none;">gh</button>
					</div>
				</div>
				<div class="refs-row" style="display:none">
					<div class="property_name">Refs:</div>
					<div id="refs"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="notification" style="display:none;">
		<img src="../../images/spinner.gif" alt="Spinner" id="spinner"></img>
		<div id="notification_message"></div>
	</div>
	<hr>
	<pre id="message"></pre>
	<div id="message_files">
		<div id="files"></div>
	</div>

	<div id="diff"></div>
</body>
