[submodule "objective-git"]
	path = objective-git
	url = https://github.com/rowanj/objective-git.git
[submodule "SyntaxHighlighter"]
	path = SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
