@import url("diff.css");
@import url("notification.css");

body {
	margin: 0;
	margin-top: 5px;
	width: 100%;
	font-family: 'Lucida Grande', Arial;
	font-size: 12px;
}

.expanded:before {
  content: "\25be\0020";
}

.collapsed:before {
  content: "\25b8\0020";
}

.SHA {
	font-family: 'Monaco', monospace;
	font-size: 11px;
	text-decoration: none;
}
